# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Godot
.godot/
.nomedia
.import/
export.cfg
export_presets.cfg
*.translation
*.import
*.tmp
.mono/
data_*/
mono_crash.*.json

# Билды/артефакты
*.apk
*.ipa

# Node (если появится)
node_modules/

# Архивы
*.zip
